body{
    width: 100%;
    padding-top: 93px;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    background-color: white;
    color: rgb(218, 117, 35);
    border-bottom: solid 1px lightgrey;
}
.left-side{
    display: flex;
    flex: 2;
    width: 80%;
    margin-left: 50px;
    column-gap: 10px;
}
.logo{
    width: 150px;
}
.middle-side{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav, ul{
    list-style: none;
    flex-wrap: wrap;
}
nav, ul, li{
    display: inline;
    margin-right: 20px;
}
nav, ul, li, a{
    color: black;
    text-decoration: none;
}
.right-side{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: black;
    column-gap: 10px;
}
.local{
    width: 30px;
}
main{
    margin-bottom: 20px;
    margin-left: 7%;
}
#body-image{
    height: 200px;
    width: 300px;
    float: left;  
}
form{
    display: flex;
    /* margin: auto; */
    border: 2px solid black;
    border-radius: 10px;
    height: 480px;
    width: 550px;
    padding: 25px;
    font-size: 20px;
    text-align: center;
}
.first-column{
    width: 50%;

}
.second-column{
    width: 50%;
}
.delivery-takeout-grid-css{
    display: grid;
    grid-template-columns: 130px 90px;
    align-items: center;
    text-align: right;
    column-gap: 10px;
    width: 300px;
    padding-bottom: 5px;

}
.right{
    grid-column: 1;
}
.left{
    grid-column: 2;
}
.send-button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(218, 117, 35);
    color: white;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
}
footer{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    border-top: solid 1px lightgrey;
    background-color: white;
    align-items: center;
    text-align: center;
}
